@{
    ViewBag.Title = "Crawler";
}
@*replaces home view*@
<html>

<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @*<script>
        $(document).ready(function () {
            $("#div2").click(function () {
                $("#div1").css("background-color", "yellow");
            });
            $("#div3").click(function () {
                $("#div1").css("background-color", "blue");
            });
        });
    </script>*@
    <style>
        #div1 {
            height: 150px;
            width: 600px;
            padding: 10px;
            margin: 3px;
            border: 1px solid black;
            background-color: white;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    
    <div id="div1"></div>
    <br>
    <div id="div2" style="text-align: center;">
    
        @if ((bool)ViewData["CrawlerRunning"] && !(bool)ViewData["Stopping"])
        {
          using (Html.BeginForm("Stop", "Crawler"))
            {
                <button type="submit">Stop</button>
            }
        }
        
        @if ((bool)ViewData["CrawlerRunning"] && (bool)ViewData["Stopping"])
        { 
            using (Html.BeginForm("Index", "Home"))
            {
                <button type="submit">Stoping Web Crawler...</button>
            }
        }
        
        @if (!(bool)ViewData["CrawlerRunning"])
        {
         using (Html.BeginForm("Start", "Crawler"))
            {
            <button type="submit">Start Crawler</button>
            }
        }

    </div>
    @*<button id="btn1" text-align:center>@Html.ActionLink("Start Crawler", "Start", "Crawler")</button></div> 
    <div id="div3"style="text-align: center;"> @Html.ActionLink("Stop", "Stop","Crawler")</div>*@

</body>
</html>


@*
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>
            </div>
        </section>
    }
    <h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
