@model List<Forager.Models.ReportModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
<h3>Compare two reports:</h3>
@{
    List<Forager.Models.ReportModel> Reports = new Forager.Models.ReportEntitiesContext().Reports.ToList<Forager.Models.ReportModel>();
    List<SelectListItem> items = new List<SelectListItem>();
    for (int i = 0; i < Reports.Count; i++)
    {
        items.Add(new SelectListItem() { Text = "Report " + Reports[i].Id, Value = Reports[i].Id.ToString() });
    }
}
@using (Html.BeginForm("BeginCompare", "Report"))
{
    @Html.DropDownList("ReportDropdown1", items)
    @Html.DropDownList("ReportDropdown2", items)
    <br />
    <button type="submit" style="height:3em; width:9.6em">Compare</button>
}

<h3>View a single report:</h3>
<table>
    <tr>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++ )
    { 
        Forager.Models.ReportModel item = Model[i];
        <tr>
            <td>
                @Html.ActionLink("Report " + Model[i].Id + ": " + item.TimeStampStart, "Show", "Report", new { ReportId = item.Id }, null)
            </td>
        </tr>
    }

</table>
